# Packages

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Specific Files 

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
announcements.json
shopifyfd-beta.js