/*



      ############# 
    ##            *## 
   #        %      **#
  #        %%%    ***#
 #       %%F%D%%   ****#
#          %%%    *****#
#   ###     %     ###***# 
#  # ####       #### #**# 
#  #     #     #     #**# 
#   #####  # #  #####***# 
#         #   #  *******# 
 ### #           **# ### 
     # - - - - - - #                 
      | | | | | | |
	
     freakdesign.com               


*/

#shopifyJSbar.loading{top:-40px}
#shopifyJSbar{background:#57666f;position:fixed;top:0;left:0;width:100%;z-index:9999;transition:top .5s}
#shopifyJSbar ul{list-style: none;margin:0;color:#fff}
#shopifyJSbar li, #shopifyJSbar li a{display: inline-block}
#shopifyJSbar li {float:left}
#shopifyJSbar li:first-child{width: 197px;background: #21C2A8;font-size: 12px;line-height: 20px}
#shopifyJSbar li:nth-child(2){background: #1D2225}
#shopifyJSbar li a{padding:.5em;border-left:1px solid #3F4645;transition:background .2s;color:#C8D1D1;height: 32px;}
#shopifyJSbar li a.active{background:#1C1E1F;}
#shopifyJSbar li a:hover{background:#139989;text-decoration: none;color:#fff}
#shopifyJSbar li:nth-child(2) a:hover{background: #139989}
#shopifyJSbar li:last-child{float:right}
#shopifyJSbar li:first-child a{border-left: none;width: 100%;text-align: center;color:#fff;}
#shopifyJSbar li:last-child a, #shopifyJSbar li:nth-child(2) a{border-left:none}
#shopifyJSbar .ico-16{margin:2px 0 0 2px;}
#shopifyJSbar *, #shopifyJSbar *:before, #shopifyJSbar *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#shopifyJSnav .btn.is-loading, #shopifyJSnav .btn.is-loading:hover{background-color: #FAFAFA!important;border-radius: 0;color: rgba(0,0,0,0);}


body, .global-search__pane{padding-top:32px}
.activity-switch {top: 44px;}

#wrapper{padding-bottom: 5em}
#gheader.black-header {z-index:99999}
#global-notification {z-index:999999}

.header-row, .shopifyJSoverride .next-nav {top:32px;}
.shopifyJSoverride #sidebar{top: 36px}

@media screen and (max-width: 768px){
  #shopifyJSbar{
    display: none;
  }
  body{padding-top:0px}
  .header-row {top:0px}
}

.shopifyJSoverride tr.variant td:last-child {min-width:70px;}

/* you know, for hiding stuff... */
.shopifyJSoverride .hidden{display:none!important}
.shopifyJSoverride .label.hidden { display: inline; }

/* Buttons */
.shopifyJSoverride .section.buttons{padding:20px}
.shopifyJSoverride .btn.delete{border-color: #AD2424;background: #CA2929;text-shadow:none;color:#fff;transition:background .25s}

/* Make those delete buttons far more obvious */
.shopifyJSoverride .btn.delete:hover{background:#121212;color:#fff}
.shopifyJSoverride .btn.destroy{background:#E71414;color:#fff;text-shadow:none;border:none}

/* table adjustment */
.shopifyJSoverride th.inventory.tc{min-width: 50px}

/* file listing */
.shopifyJSoverride #settings-general td.image.thumb, .shopifyJSoverride #settings-general th.image {display:table-cell!important}
.shopifyJSoverride .active-row {
  background: #E7F3F3;
  padding: 1em 20px 0;
  margin: 0 -20px 0;
}
.active-row a.bulkpaste{display: none;}

/* Modal*/
.shopifyJSoverride .modal body{overflow: hidden}
.shopifyJSoverride #metacount {
  background: #90A5A7;display: none;padding: .25em .5em;font-size: .8em;border-radius: 3px;color: #fff;float: right;
}
.shopifyJSoverride #metacount.active {display: inline-block;color:#fff;background: #21C2A8}

/* Sub section - mostly for the metafield box */
.shopifyJSoverride .sub_section-summary{
  margin-bottom:1.5em;
  background:#fff;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition:border-color .25s
}
.shopifyJSoverride .sub_section-summary .content{padding-left:0;padding-bottom:0;margin-bottom:0}
.sub_section-summary h1, .sub_section-summary h2 {font-size: 18px;margin-bottom: 10px;font-weight: 300}

.shopifyJSoverride .section>.section-summary { padding-left:1.5em; }
.shopifyJSoverride .row-attached-to-top { position: relative;}
.shopifyJSoverride .view-in-store {background-position: 100% -2561px}

.shopifyJSoverride .header-main {max-width: inherit;}
.shopifyJSoverride .header-main .next-icon--website-slate-lightest {margin-left:.5em;}
.metafield-copy-paste {margin-top: 1em}

/* Editor extra */
.shopifyJSoverride #rte_extra{background: #F0F0F0;padding: 5px;}

/* loading... */
.shopifyJSoverride #content.loading .header-row {top:32px!important}

/* order */

.shopifyJSoverride .order-edit-panel h3 {margin-bottom:.5em;}
.shopifyJSoverride .search-row:first-child{margin-top:1em;}
.shopifyJSoverride .order-edit-panel .price-display{
  background: #D2EEF0;
  display: inline-block;
  padding: 1em 2em;
  margin-right: 1em;
  border: 1px solid #A2B7CE;
  color: #474861;
  font-weight: 700;
  font-size: 2em;
}
.shopifyJSoverride .order-edit-panel .customer-details input{
  margin-bottom: .5em;
}

.shopifyJSoverride .search-row{
  background: #efefef;
  font-size: 12px;
  margin-bottom: 1px;
  border-radius: 3px;
}
.order-edit-panel .line-item{
  margin-bottom:.5em;
  position: relative;
  border-bottom: 1px dashed;
  padding-bottom: .5em;
}
.order-edit-panel .line-item .ico-delete{
  position: absolute;top:0;right:0;
}
.order-edit-panel .line-item>span{
  display:inline-block;
  max-width: 70%;
}
.order-edit-panel .line-item span span {
  display:block;
  font-size: 11px;
  line-height: 1.4;
}
.order-edit-panel .line-item span span:first-child{color:#000;}
.order-edit-panel .line-item i {
  vertical-align:top;color:#000;
}

.shopifyJSoverride .search-row a {
  padding: .5em;
  display:block;
  position: relative;
  text-decoration: none;
}
.shopifyJSoverride .search-row a.active, .shopifyJSoverride .search-row a:hover {
  color:#fff;
  background: #479ccf;
}

.shopifyJSoverride .search-table tr:hover td {background:#efefef}

.shopifyJSoverride .search-table {
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  table-layout: fixed;
}

.shopifyJSoverride .search-table a {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background: #479ccf;
}
.shopifyJSoverride .search-table a:hover{
  background:#509338;
}
.shopifyJSoverride .search-row a:after {
  content: '+';
  width: 1em;
  position: absolute;
  right: 0;
}


/* variant editing... */
.shopifyJSoverride .vbox {background:#fff;padding: 1em 0 3em;border-bottom: 2px solid #818181}
.shopifyJSoverride .vbox fieldset {padding:0;display:block;width:100%}
.shopifyJSoverride .vbox input, .shopifyJSoverride .vbox select {width:24.24%; display:inline-block;margin:0 1% 0 0}
.shopifyJSoverride .vbox fieldset input:last-child{margin-right:0}
.shopifyJSoverride .vbox select.active{border: 1px solid #479286;background: #21C2A8;color:#fff}
.shopifyJSoverride .vbox select.active:focus {background: #fff;color: #121212;}
.shopifyJSoverride td.vid{cursor:pointer;font-size: .9em;text-decoration: underline}
.shopifyJSoverride .vbox .mybuttons {display: block;margin-top:.25em}
.shopifyJSoverride .vbox .mybuttons a.delete {color: #C71919;float:right}

.shopifyJSoverride .sku.label, .shopifyJSoverride .variant-label {float:right;}
.shopifyJSoverride .unpublished-theme-title {position: relative;}
.shopifyJSoverride .header-select {height:32px;border-radius:3px;color:#479ccf;max-width: 250px;}
.shopifyJSoverride .header-select:focus {color:#121212;}

html.dragit{height: 100%;overflow: hidden;opacity: .5;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;}

/* Hide promo */
#net_promoter_score,#shop-advisor-card[track-view="setup_facebook_store_milestone"], 
.section.last-section.theme-store-cta-section {display:none;}

/* Modal window, because wrestling the built in one is a pain in the bee-hind... */
.shopifyJSoverride .modal-bg{z-index: 500}
.modalWindow {
  position: fixed;top: 0;right: 0;bottom: 0;left: 0;
  background: rgba(1, 12, 2, 0.7);z-index: 99999;
  display:none;text-align:center;
}
.modalWindow .span1, .modalWindow .span2, .modalWindow .span3, .modalWindow .half{float:left;padding:0}
.modalWindow .span1 {width:33.332%}
.modalWindow .span2 {width:66.665%}
.modalWindow .half {width:50%}
.modalWindow .em{margin-bottom:1em;}
.modalWindow .active {display:block}
.modalWindow > div.main.content {width: 500px;position: relative;margin: 10% auto!important;background: #fff;border-radius: 3px;padding:1em;text-align: left;box-shadow: 0 0 15px rgba(0,0,0,.5)}
.modalWindow .content li{margin-bottom: 1em}
.modalWindow .content > div {max-height:400px;overflow:auto}
.modalWindow .close-modal{position:absolute;background:#121212;color:#fff;border:1px solid #000;width:16px;height:16px;display:inline-block;line-height:16px;text-align:center;text-decoration:none;top:1em;right:1em;border-radius:50%;font-weight: bold;font-size: 1em;}
.modalWindow .close-modal:hover{background:red;color:#fff;border-color:red;}
.modalWindow header{border-bottom:1px solid #ccc;margin:0 0 .5em;padding:0 2em .25em 0;min-height: .25em}
.modalWindow td{vertical-align: top}
.modalWindow .warning{background:#d15757;color:#fff;line-height:1.3;margin:0 0 .5em}
.modalWindow ul{padding-left: 1em}
.modalWindow .disabled { pointer-events: none; }

/* next-grid */

.shopifyJSoverride .next-grid .section-summary .box.warning{
  background: #fff;
  color: rgb(228, 37, 37);
}

.shopifyJSoverride .theme-id{color: #ccc;font-family: monospace;margin-top: 7px;}
.shopifyJSoverride .theme-id.published{margin-left: 1em;margin-top:0;}

.no-btn {height: inherit;line-height: inherit;border: none;padding: inherit;min-width: 1.25em;}
.no-btn .ico{opacity:0;}

.shopifyJSoverride .bubble{
  top:-1em;
  background: #F7FCFB;
  position: absolute;
  left: 3.5em;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  min-width: 200px;
  box-shadow: 0 0 10px rgba(111, 146, 152, 0.3);
}

/* animations */

.fadein{-webkit-animation: fade-in .25s linear;-moz-animation: fade-in .25s linear;-o-animation: fade-in .25s linear;animation: fade-in .25s linear;}
.fadeinslow{-webkit-animation: fade-in 1s linear;-moz-animation: fade-in 1s linear;-o-animation: fade-in 1s linear;animation: fade-in 1s linear;}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.delayed{
  -webkit-animation-delay:2s;
  animation-delay:2s;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@-webkit-keyframes fade-in
{
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@-moz-keyframes fade-in
{
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@-o-keyframes fade-in
{
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@keyframes fade-in
{
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:.4;}
    100% {opacity:1;}
}
@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:.4;}
    100% {opacity:1;}
}

.blinker {
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}

@media print {
  #customer_meta_box, .noprint {display:none;}
}
.delete-checkbox{vertical-align: top!important;}
#assets-table tr{transition:background .2s;}
tr.marked-for-deletion {background:#CA1800;color: #fff;}
tr.marked-for-deletion a{color:#fff}

.fd-btn{
  background: #898B8A;
  color: #fff;
  /*padding: .25em .5em;
  height: 2em;
  line-height: 1.5em;*/
  transition: all .25s;
  border: 1px solid #727781;
}
.fd-btn:hover{
  background: #21C2A8;
  color:#fff;
}
.next-card__section ~ .next-card__section {
border-top: 1px solid #D8D8D8;
}

.new-variants-table__row.active{
  background: #eff9fd;
}
.table-hover tr#vrow:hover td {background: #fff}
.loading-bar__container {top:88px}

#all-products .name {max-width: 200px}

.linklist-title {overflow: hidden;max-width: 80%;}

#advanced_meta p {margin-bottom:.25em;}