/*



      ############# 
    ##            *## 
   #        %      **#
  #        %%%    ***#
 #       %%F%D%%   ****#
#          %%%    *****#
#   ###     %     ###***# 
#  # ####       #### #**# 
#  #     #     #     #**# 
#   #####  # #  #####***# 
#         #   #  *******# 
 ### #           **# ### 
     # - - - - - - #                 
      | | | | | | |
	
     freakdesign.com               


*/
#shopifyJSbar.loading{top:-40px}
#shopifyJSbar{background:#57666f;position:fixed;top:0;left:0;width:100%;z-index:9999;min-width: 996px;transition:top .5s}
#shopifyJSbar ul{list-style: none;margin:0;color:#fff}
#shopifyJSbar li, #shopifyJSbar li a{display: inline-block}
#shopifyJSbar li {float:left}
#shopifyJSbar li:first-child{width: 197px;background: #21C2A8;font-size: 12px;line-height: 20px}
#shopifyJSbar li:nth-child(2){background: #57666f}
#shopifyJSbar li a{padding:.5em;border-left:1px solid #3F4645;transition:background .2s;color:#C8D1D1;height: 32px;}
#shopifyJSbar li a.active{background:#1C1E1F;}
#shopifyJSbar li a:hover{background:#139989;text-decoration: none;color:#fff}
#shopifyJSbar li:nth-child(2) a:hover{background: #139989}
#shopifyJSbar li:last-child{float:right}
#shopifyJSbar li:first-child a{border-left: none;width: 100%;text-align: center;color:#fff;}
#shopifyJSbar li:last-child a, #shopifyJSbar li:nth-child(2) a, #shopifyJSbar li:nth-child(3) a{border-left:none}
#shopifyJSbar .ico-16{margin:2px 0 0 2px;}
#shopifyJSbar *, #shopifyJSbar *:before, #shopifyJSbar *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body{padding-top:32px}
#wrapper{padding-bottom: 5em}
#gheader.black-header {z-index:99999}
#global-notification {z-index:999999}

.header-row {top:32px}

/* Useful to note what things are not Standard */
.shopifyJSoverride .altered{color:red!important}

.shopifyJSoverride #sidebar{top: 36px}

/* Open orders count has a new action on it. Make that obvious. */
.shopifyJSoverride .main-nav-count{background: #21C2A8;color: #FFFFFF; border:none!important}
.shopifyJSoverride .selected .main-nav-count{background: #fff;color: #21C2A8; border:none!important}
.shopifyJSoverride .main-nav-count:hover{background: #fff;color: #111; border:none!important}

/* you know, for hiding stuff... */
.shopifyJSoverride .hidden{display:none}

/* why did we use the hidden class here? */
.shopifyJSoverride span[data-hideif="product.isVisible"].hidden{display:inline-block;padding: 1px 5px 0px 5px}

/* Buttons */
.shopifyJSoverride .section.buttons{padding:20px}
.shopifyJSoverride .btn.delete{border-color: #C41818;background: #E72323;text-shadow:none;color:#fff;transition:background .25s}

/* Make those delete buttons far more obvious */
.shopifyJSoverride .btn.delete:hover{background:#121212;color:#fff}
.shopifyJSoverride .btn.destroy{background:#E71414;color:#fff;text-shadow:none;border:none}

/* table adjustment */
.shopifyJSoverride th.inventory.tc{min-width: 50px}
.shopifyJSoverride td.image.thumb, .shopifyJSoverride th.image, #all-collections td.image { display:none!important; }

/* file listing */
.shopifyJSoverride #settings-general td.image.thumb, .shopifyJSoverride #settings-general th.image {display:table-cell!important}
.shopifyJSoverride .file_row {background:#E7F3F3;}
.shopifyJSoverride .file_row td{border-bottom: 1px solid #ABBEBD}

/* Batman modal*/
.shopifyJSoverride .modal body{overflow: hidden}
.shopifyJSoverride #metacount {background: #90A5A7;display: inline-block;padding: .25em .5em;font-size: .8em;border-radius: 3px;color: #fff}
.shopifyJSoverride #metacount.active {background: #21C2A8}

/* do we really need to see the rate box all the time? nope. */
.shopifyJSoverride div[data-showif='showNetPromoterScore'] {display:none!important}

/* Sub section - mostly for the metafield box */
.shopifyJSoverride .sub_section-summary{margin-bottom:.5em;background: #F3F5F5;padding: 1em;border: 1px solid #ddd;transition:border-color .25s}
.shopifyJSoverride .sub_section-summary:hover{border: 1px solid #bbb}
.shopifyJSoverride .sub_section-summary .content{padding-left:0;padding-bottom:0;margin-bottom:0}
.sub_section-summary h1, .sub_section-summary h2 {font-size: 18px!important;margin-bottom: 10px!important;font-weight: 300!important}

.shopifyJSoverride .section>.section-summary { padding-left:1.5em; } /* just a little bit smaller */
.shopifyJSoverride .row-attached-to-top { position: relative;top: -40px; }
.shopifyJSoverride .view-in-store {background-position: 100% -2561px}

/* Editor extra */
.shopifyJSoverride #rte_extra{background: #fafcfc;padding: 5px;border-top: 1px solid #CBD3D3;}
/*
.shopifyJSoverride #rte_extra a{background: #E2DFDF;padding: .15em .8em;line-height: 2;text-decoration: none;color: #121212;display: inline-block;border-radius: 3px;border: 1px solid #ccc;transition:background .2s}
.shopifyJSoverride #rte_extra a:hover{background:#96bf48;color:#fff;border-color: #6B8569}
*/
/* loading... */
.shopifyJSoverride #content.loading .header-row {top:32px!important}

/* variant editing... */
.shopifyJSoverride .vbox {background:#E2E9E9;padding: 1em;border-bottom: 2px solid #21C2A8}
.shopifyJSoverride .vbox fieldset {padding:0;display:block;width:100%}
.shopifyJSoverride .vbox input, .shopifyJSoverride .vbox select {width:24.24%; display:inline-block;margin:0 1% 0 0}
.shopifyJSoverride .vbox fieldset input:last-child{margin-right:0}
.shopifyJSoverride .vbox select.active{border: 1px solid #479286;background: #21C2A8;color:#fff}
.shopifyJSoverride .vbox select.active:focus {background: #fff;color: #121212;}
.shopifyJSoverride td.vid{cursor:pointer;font-size: .9em;text-decoration: underline}
.shopifyJSoverride .vbox .mybuttons {display: block;margin-top:.25em}
.shopifyJSoverride .vbox .mybuttons a.delete {color: #C71919;float:right}
/*.shopifyJSoverride tr.variant.active {background: #F3F5F5}*/

.shopifyJSoverride .sku.label {float:right;background: #83C96D;line-height: 1em;border: none}

.shopifyJSoverride .header-select {height:32px;border-radius:3px;color:#479ccf;max-width: 250px;}
.shopifyJSoverride .header-select:focus {color:#121212;}

html.dragit{height: 100%;overflow: hidden;opacity: .5;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;}

/* Modal window, because wrestling the built in one is a pain in the bee-hind... */
.shopifyJSoverride .modal-bg{z-index: 99500}
.modalWindow {
  position: fixed;top: 0;right: 0;bottom: 0;left: 0;
  background: rgba(1, 12, 2, 0.7);z-index: 99999;
  display:none;text-align:center;
}
.modalWindow .span1, .modalWindow .span2, .modalWindow .span3, .modalWindow .half{float:left;padding:0}
.modalWindow .span1 {width:33.332%}
.modalWindow .span2 {width:66.665%}
.modalWindow .half {width:50%}
.modalWindow .em{margin-bottom:1em;}
.modalWindow .active {display:block}
.modalWindow > div {width: 500px;position: relative;margin: 10% auto;background: #fff;border-radius: 3px;padding:1em;text-align: left;box-shadow: 0 0 15px rgba(0,0,0,.5)}
.modalWindow .content li{margin-bottom: 1em}
.modalWindow .content > div {max-height:400px;overflow:auto}
.modalWindow .close-modal{position:absolute;background:#121212;color:#fff;border:1px solid #000;width:16px;height:16px;display:inline-block;line-height:16px;text-align:center;text-decoration:none;top:1em;right:1em;border-radius:50%;font-weight: bold;font-size: .75em;}
.modalWindow .close-modal:hover{background:red;color:#fff;border-color:red;}
.modalWindow header{border-bottom:1px solid #ccc;margin:0 0 .5em;padding:0 2em .25em 0;min-height: .25em}
.modalWindow td{vertical-align: top}
.modalWindow .warning{background:red;padding:.25em;color:#fff;line-height:1.3;margin:0 0 .5em}
.modalWindow ul{padding-left: 1em}
.modalWindow .disabled { pointer-events: none; }
/* some animations */

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:.4;}
    100% {opacity:1;}
}
@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:.4;}
    100% {opacity:1;}
}

.blinker {
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}

@media print {
  #customer_meta_box, .noprint {display:none;}
}